.idea
*.iml
out/artifacts/Zehntausend_jar/settings.json
/settings.json
.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Language.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/State.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Dice.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Scoring.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Game.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/JsonHelper.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Main.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Player.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Round.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Settings.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Turn.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/Roll.class
/out/production/Zehntausend/com/spaghettic0der/zehntausend/README.md
game.json
*.class
.class
